@import "tailwindcss";
@plugin "daisyui"{

    themes: light --default;
}


.animate-marque{
    animation: marque 25s linear infinite;
}

@keyframes marque {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}